.page-buttons{
    display: flex;
    align-items: center;
    
    gap: .2rem;
    width: 100%;
    padding-left: 1rem;
}

.page-buttons button{
   
    padding: 0 .5rem;   
    margin-bottom: 2rem;

    border-radius: 10px;
    border: none;

    font-weight: bold;
    font-size: 1.2rem;

    background-color: #c3c3c300;
    color: #36393B;

    cursor: pointer;
}

.page-buttons button:hover{
    transform: scale(1.2);
    transition-duration: 300ms;
    color: #c50909;
}